<div *ngIf="contact">
  <h2>{{contact.name | uppercase}} Details</h2>
  <div><span>id: </span>{{contact.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="contact.name" placeholder="contact"/>
    </label>
    <br>
    <label>address:
      <input [(ngModel)]="contact.address" placeholder="contact"/>
    </label>
    <br>
    <label>email:
      <input [(ngModel)]="contact.email" placeholder="contact"/>
    </label>
    <br>
    <label>phone:
      <input [(ngModel)]="contact.phone" placeholder="contact"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
